* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial;
}
body {
  background-color: #e3e6e6;
}
header {
  background-color: #131921;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin: auto 2rem;
}
.hamburger-menu {
  display: none;
}
.logo .desktop-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  height: 60px;
  border: 1px solid transparent;
}
.logo .mobile-logo {
  display: none;
}
.logo .desktop-logo:hover {
  border: 1px solid white;
}
.logo .desktop-logo > img {
  width: 130px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 50px;
  justify-content: center;
  background-color: white;
  padding: 0;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.search-fields {
  width: 100%;
  height: 50px;
  padding-left: 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;
}
.search-container:focus-within {
  outline: 2px solid rgb(255, 153, 0);
}
.search-button {
  cursor: pointer;
  background-color: #febd69;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 0 0.5rem 0.5rem 0;
}
.search-button > img {
  width: 24px;
  height: 24px;
}
.left-side {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.return-and-orders {
  border: 1px solid transparent;
  padding: 5px 5px;
  height: 60px;
}
.return-and-orders:hover {
  border: 1px solid white;
}
.return-and-orders > a {
  display: flex;
  flex-direction: column;
  color: white;
}
.return {
  font-size: 1rem;
}
.Orders {
  font-size: 1.2rem;
}
.cart {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 5px 5px;
  border: 1px solid transparent;
  height: 60px;
  cursor: pointer;
}
.cart:hover {
  border: 1px solid white;
}
.cart-icon {
  display: flex;
  flex-direction: column;
  position: relative;
}
.cart-icon > img {
  width: 70px;
}
.cart-quantity {
  color: #f08807;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 50%;
}
.cart-text {
  color: white;
  font-size: 1.2rem;
}
/* side bar for cart */
.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  overflow-x: hidden;
  transition: all linear 0.2s;
  z-index: 4;
}
.cart-item-container {
  width: 100%;
  height: 100%;
  background-color: #f08807;
}
.cart-header {
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
}
.close-button {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 2rem;
}
/* side bar menu */
.side-menu {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all linear 0.2s;
  z-index: 4;
}
.side-menu-container {
  width: 100%;
  height: 100%;
  background-color: #febd69;
}
.side-menu-header {
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: end;
}
.close-side-menu {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.navegation-link {
  background-color: white;
  height: 40px;
  display: flex;
  padding-left: 2rem;
  align-items: center;
}
.navegation-link > ul {
  display: flex;
  gap: 1.3rem;
}
.navegation-link > ul li {
  list-style: none;
}
.navegation-link > ul li a {
  text-decoration: none;
  color: black;
}
.side-navegation {
  cursor: pointer;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  .navegation-link {
    display: none;
  }
  header {
    height: 105px;
  }
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: auto 0.5rem;
  }
  .hamburger-menu {
    display: block;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo .desktop-logo {
    display: none;
  }
  .logo .mobile-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
  .logo .mobile-logo > img {
    width: 30px;
  }
  .left-side {
    gap: 0.5rem;
  }
  .search-container {
    position: absolute;
    width: 100%;
    top: 50px;
  }
  .cart {
    height: 40px;
    border: none;
  }
  .cart:hover {
    border: none;
  }
  .cart-icon {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .cart-icon > img {
    width: 50px;
  }
  .cart-quantity {
    color: #f08807;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
  }
  .cart-text {
    display: none;
  }
  .return-and-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
  }
  .return-and-orders:hover {
    border: none;
  }
  .return {
    font-size: 0.7rem;
  }
  .Orders {
    font-size: 1rem;
  }
}

/* Image Carousel  */
.carousel-container {
  position: relative;
  overflow: hidden;
}
.slides {
  display: flex;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  background-image: linear-gradient(0deg, #e3e6e6, transparent);
  z-index: 1;
}
.slides > img {
  width: 100%;
}
.prvious-button {
  cursor: pointer;
  font-size: 2rem;
  width: 3rem;
  height: 10rem;
  border: 2px solid transparent;
  background: transparent;
  position: absolute;
  left: 0.5rem;
  top: 30%;
  transform: translateY(-50%);
  z-index: 2;
}
.prvious-button:focus {
  border: 2px solid black;
  outline: 2px solid white;
}
.next-button {
  cursor: pointer;
  font-size: 2rem;
  width: 3rem;
  height: 10rem;
  border: 2px solid transparent;
  background: transparent;
  position: absolute;
  right: 0.5rem;
  top: 30%;
  transform: translateY(-50%);
  z-index: 2;
}
.next-button:focus {
  border: 2px solid black;
  outline: 2px solid white;
}

/*  card product section */
.products-section-wrapper {
  margin-top: -50vh;
}
@media screen and (max-width: 1190px) {
  .products-section-wrapper {
    margin-top: -25vh;
  }
}
@media screen and (max-width: 992px) {
  .products-section-wrapper {
    margin-top: -20vh;
  }
}
@media screen and (max-width: 768px) {
  .products-section-wrapper {
    margin-top: -0vh;
  }
}
.product-container {
  position: relative;
  height: max-content;
  width: 100%;
  z-index: 3;
}
.product-card {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}
.card {
  background-color: white;
  padding: 1rem 1rem;
}
.card-text {
  font-size: 1.2rem;
  margin: 1rem auto;
}
.card-image > img {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}
.card-content {
  cursor: pointer;
}
.card-link > a {
  text-decoration: none;
  color: #2a8899;
}
.card-link > a:hover {
  color: #f08807;
}
.card-image-grid {
  display: grid;
  margin-bottom: 1rem;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.card-grid-item > img {
  width: 100%;
  object-fit: cover;
  height: auto;
}
@media screen and (max-width: 1190px) {
  .product-container {
    position: relative;
    width: 100%;
    z-index: 3;
  }
  .product-card {
    width: 100%;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .product-container {
    position: relative;
    width: 100%;
    z-index: 3;
  }
  .product-card {
    width: 100%;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .product-container {
    position: relative;
    width: 100%;
    z-index: 3;
  }
  .product-card {
    width: 100%;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }
}
/* best sell product sides */
.best-sell-container {
  width: 100%;
  height: max-content;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}
.best-sell-wraper {
  padding-top: 1rem;
  padding-left: 1rem;
  display: block;
  background-color: white;
}
.best-product-slides {
  display: flex;
  overflow-y: scroll;
  scrollbar-width: thin;
  background-color: white;
  padding: 1.5rem;
}
.slide-image {
  margin-right: 1.5rem;
}

.best-sell-next-slide {
  width: 40px;
  height: 100px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  opacity: 0.7;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.2s;
}
.best-sell-next-slide > i {
  font-size: 1.5rem;
  opacity: 0.5;
  transition: all 0.2s;
}
.best-sell-next-slide:focus {
  border: 2px solid #febd69;
}
.best-sell-next-slide:hover > i {
  opacity: 0.8;
  transition: all 0.2s;
}
.best-sell-previous-slide {
  width: 40px;
  height: 100px;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  opacity: 0.7;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.2s;
}
.best-sell-previous-slide > i {
  font-size: 1.5rem;
  opacity: 0.5;
  transition: all 0.2s;
}
.best-sell-previous-slide:focus {
  border: 2px solid #febd69;
}
.best-sell-previous-slide:hover > i {
  opacity: 0.8;
  transition: all 0.2s;
}
/* Viewed items */
.viewed-items {
  padding: 1rem;
  position: relative;
}
.viewed-items-wrapper {
  background-color: white;
  padding: 1rem;
  position: relative;
}
.viewed-items-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem 0.7rem;
  background-color: white;
  opacity: 0.7;
  border: 2px solid transparent;
  border-radius: 0.2rem;
}
.viewed-items-next > i,
.viewed-items-previous > i {
  font-size: 1.5rem;
  opacity: 0.7;
}
.viewed-items-next:hover > i {
  opacity: 1;
}
.viewed-items-next:focus {
  border: 2px solid #febd69;
}
.viewed-items-previous:hover > i {
  opacity: 1;
}
.viewed-items-previous:focus {
  border: 2px solid #febd69;
}
.viewed-items-previous {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem 0.7rem;
  background-color: white;
  opacity: 0.7;
  border: 2px solid transparent;
  border-radius: 0.2rem;
}
.viewed-items-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}
.viewed-item {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.item-rated {
  display: flex;
  align-items: center;
}
.rated-star > img {
  width: 16px;
}
.number-of-rated > p {
  font-size: smaller;
  color: #2a8899;
}
.item-price {
  font-size: 1rem;
}
.item-price > span {
  font-size: 0.75rem;
}
.shipping {
  font-size: 0.85rem;
}
.shipping > span {
  font-size: 0.75rem;
}
/* footer */
footer {
  width: 100%;
  height: auto;
  padding-top: 3rem;
  position: relative;
}
.footer-content-container {
  background-color: #232f3e;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer-content-container > * {
  display: flex;
  flex-direction: column;
}
.footer-content-container > * > a {
  font-weight: normal;
  color: white;
  text-decoration: none;
  margin: 3px;
}
.footer-content-container > * > a:hover {
  text-decoration: underline;
}
.lang-currency-region {
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #232f3e;
  border-top: 1px solid #3a4553;
}
.logo-footer {
  margin-right: 4rem;
}
.logo-footer > img {
  width: 5rem;
  transform: translateY(8px);
}
.lang,
.currency,
.region {
  margin: 0.5rem;
}
.language-selection,
.currency-selection,
.region-selection {
  width: 100px;
  height: 30px;
  background: transparent;
  color: white;
}
.right-reverse {
  background-color: #131a22;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-reverse > p {
  color: white;
  font-size: small;
}
